## Establece el fondo de pantalla
~/.screenlayout/Automatico
feh --bg-fill --no-fehbg /usr/share/slick-greeter/background.jpg

## Funciones necesarias para el funcionamiento del gestor de ventanas y la barra
/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1 &
picom -b &
udiskie -as &
blueman-applet &
nm-applet &
volctl &
thunar --daemon &
unclutter -idle 5 --start-hidden &
export PATH=$PATH:~/.local/bin
