## Fonfo aleatorio cada inicio con las imagenes de la carpeta Imágenes del usuario(La imagen se extiende por varios monitores)
#nitrogen --set-zoom-fill --random ~/Imágenes
## Fonfo aleatorio cada 10 min con las imagenes de la carpeta Imágenes del usuario(La imagen se extiende por varios monitores)
#(while true; do nitrogen --set-zoom-fill --random ~/Imágenes && sleep 10m; done) &
## Fondo aleatorio cada inicio con las imagenes de la carpeta Imágenes del usuario(Establece un fondo para cada pantalla)
feh -rz --bg-fill --no-fehbg ~/Imágenes &
## Fondo aleatorio cada 10 min con las imagenes de la carpeta Imágenes del usuario(Establece un fondo para cada pantalla)
#(while true; do feh -rz --bg-fill --no-fehbg ~/Imágenes && sleep 10m; done) &
## Fondo estatico (por defecto el mismo que el gestor de inicio de sesion)
#feh --bg-fill Imágenes/BG001.jpg &

## Funciones necesarias para el funcionamiento del gestor de ventanas y la barra
/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1 &
picom &
udiskie -at &
blueman-applet &
nm-applet &
volctl &
## Comandos a ejecutar en el primer inicio de sesion
gsettings set com.github.stunkymonkey.nautilus-open-any-terminal terminal alacritty
gsettings set com.github.stunkymonkey.nautilus-open-any-terminal keybindings '<Ctrl><Alt>t'
gsettings set com.github.stunkymonkey.nautilus-open-any-terminal new-tab true
head -n 18 .xprofile > tmp
mv tmp .xprofile
