#!/bin/bash
# ~/.xprofile — ejecutado al iniciar sesión gráfica

## Fondo de pantalla inicial
feh --bg-fill --no-fehbg /usr/share/backgrounds/wallpaper.jpeg

## Lanzar polkit-gnome: necesario antes de Thunar y udiskie
(sleep 0.5; /usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1) &
(sleep 0.7; xdg-user-dirs-update) &

## Lanzar demonios de escritorio básicos
pgrep -x picom || picom -b &
unclutter -idle 5 --start-hidden &

## Iniciar Thunar en modo daemon
(sleep 1; thunar --daemon) &

## Iniciar demonios auxiliares
(sleep 1.5; blueman-applet) & # bluetooth
(sleep 1.6; volctl) & # audio
(sleep 1.7; udiskie -as --password-cache 60) &  # automontaje
(sleep 1.8; nm-applet) &                       # red
