configuration {
 modi: "window,drun,ssh,run";
 font: "Cantarell 12";
 icon-theme: "ePapirus-Dark";
 show-icons: true;
 drun-display-format: " {name} [<span weight='light' size='small'><i>({generic})</i></span>]";
 }
@theme "/usr/share/rofi/themes/android_notification.rasi"
